/nbproject/private/
/PAGEC-war/nbproject/private/
/PAGEC-ejb/nbproject/private/
/PAGEC-ejb/dist/
/PAGEC-ejb/build/
/PAGEC-war/build/
/PAGEC-war/dist/
/dist/
/build/
/PAGEC-Caregiver/nbproject/private/
/PAGEC-Caregiver/build/
/PAGEC-Caregiver/dist/